@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gTD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gTD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gTD-w.ttf) format('truetype');
}
body {
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
hr {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
}
button {
  border: 0;
  outline: none;
}
hr {
  border: 0;
}
img {
  object-fit: cover;
  object-position: center;
}
.projectBlockImgBoxShadowLeftToRight {
  -webkit-box-shadow: 10px 10px 0px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 10px 10px 0px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 10px 10px 0px -5px rgba(0, 0, 0, 0.7);
}
.projectBlockImgBoxShadowRightToLeft {
  -webkit-box-shadow: -10px 10px 0px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -10px 10px 0px -5px rgba(0, 0, 0, 0.7);
  box-shadow: -10px 10px 0px -5px rgba(0, 0, 0, 0.7);
}
.projectBlockImgBoxShadowNone {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animation-delay-01s {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.animation-delay-02s {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.animation-delay-03s {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.animation-delay-04s {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.animation-delay-05s {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.animation-delay-06s {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@keyframes side-menu-trigger-shadow {
  from {
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    -moz-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff;
  }
  50% {
    -webkit-box-shadow: 0 0 4px 4px #91cfc9;
    -moz-box-shadow: 0 0 4px 4px #91cfc9;
    box-shadow: 0 0 4px 4px #91cfc9;
  }
  to {
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    -moz-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff;
  }
}
@keyframes side-menu-trigger-cyanBgAnimation {
  from {
    background-color: #fff;
  }
  50% {
    background-color: #91CFC9;
  }
  to {
    background-color: #fff;
  }
}
@keyframes my-photo-shadow-animation {
  from {
    -webkit-box-shadow: 0 0 0 0 #91cfc9;
    -moz-box-shadow: 0 0 0 0 #91cfc9;
    box-shadow: 0 0 0 0 #91cfc9;
  }
  50% {
    -webkit-box-shadow: 0 0 5px 5px #ffffff;
    -moz-box-shadow: 0 0 5px 5px #ffffff;
    box-shadow: 0 0 5px 5px #ffffff;
  }
  to {
    -webkit-box-shadow: 0 0 0 0 #91cfc9;
    -moz-box-shadow: 0 0 0 0 #91cfc9;
    box-shadow: 0 0 0 0 #91cfc9;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}
@media screen {
}
@media screen and (min-width: 320px) {
  .side-menu {
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .side-menu__container {
    width: 100%;
    height: 100%;
    background-color: #91cfc9;
    overflow-x: hidden;
  }
  .side-menu__nav-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 50px;
  }
  .side-menu__link {
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    -webkit-transition: 0.05s;
    -moz-transition: 0.05s;
    -ms-transition: 0.05s;
    -o-transition: 0.05s;
    transition: 0.05s;
  }
  .side-menu__link:active {
    background-color: #fff;
    color: #91CFC9;
  }
  .side-menu__close-link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    -webkit-transition: 0.05s;
    -moz-transition: 0.05s;
    -ms-transition: 0.05s;
    -o-transition: 0.05s;
    transition: 0.05s;
    background: #91CFC9;
  }
  .side-menu__close-link:active {
    background-color: #fff;
    color: #91CFC9;
  }
  .full-height-block {
    min-height: 100vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .full-height-block--cyan-bg {
    background-color: #91CFC9;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #1E5670;
    width: 170px;
    height: 40px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .button:hover {
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .button:active {
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
  .button--disabled {
    background-color: #ececec;
    cursor: not-allowed;
  }
  .button--disabled:hover {
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
  .main-navigation {
    display: none;
  }
  .my-photo {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .my-photo--shadow-animation {
    animation: my-photo-shadow-animation 6s ease-in-out infinite;
  }
  .about-me-text {
    width: 300px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }
  .logo {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }
  .logo:hover {
    color: #91CFC9;
  }
  .side-menu-trigger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #91CFC9;
    width: 26px;
    height: 26px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
  }
  .side-menu-trigger--shadow-animation {
    animation: side-menu-trigger-shadow 1.5s ease-in-out infinite;
  }
  .side-menu-trigger__svg-icon {
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .side-menu-trigger__block {
    display: block;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .side-menu-trigger__block--white-bg {
    background-color: #fff;
  }
  .side-menu-trigger__block--black-bg {
    background-color: #000;
  }
  .side-menu-trigger__block--cyan-bg {
    background-color: #91CFC9;
  }
  .side-menu-trigger__block--layer-first {
    z-index: 3;
  }
  .side-menu-trigger__block--layer-second {
    z-index: 2;
  }
  .side-menu-trigger__block--layer-third {
    z-index: 1;
  }
  .side-menu-trigger__block--small {
    width: 14px;
    height: 14px;
  }
  .side-menu-trigger__block--medium {
    width: 20px;
    height: 20px;
  }
  .side-menu-trigger__block--big {
    width: 26px;
    height: 26px;
  }
  .top-block-fixed {
    position: fixed;
    min-width: 320px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 100;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
  }
  .top-block-fixed__container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }
  .top-block-fixed__container--white-bg {
    background-color: #fff;
  }
  .header__container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__full-height-block {
    min-height: 100vh;
  }
  .section-heading {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-top: 20px;
  }
  .section-heading-underline {
    display: block;
    width: 120px;
    height: 3px;
    background-color: #1E5670;
    margin: 3px auto 20px;
  }
  .my-stack {
    margin-top: -50px;
  }
  .my-stack__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  .slider {
    margin: auto;
    position: relative;
  }
  .slider__item {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .svg-block {
    width: 180px;
    height: 180px;
  }
  .svg-block--avocode {
    height: 203px;
  }
  .svg--html {
    background: url("data:image/svg+xml,%3Csvg width='100' height='100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M0 0h100v100H0z'/%3E%3Cpath d='M6.25 0h87.5l-7.96 89.85L49.9 100 14.22 89.84 6.25 0zm29.3 40.63l-.97-11.33 41.91.01.96-10.92-54.9-.02 2.9 33.38h38.03l-1.35 14.28L50 69.37 37.69 66l-.79-8.8H26.03l1.38 17.39L50 80.63l22.41-6.01 3.1-34H35.55z' fill='%23DE4B25'/%3E%3C/svg%3E") no-repeat center center / cover;
  }
  .svg--javascript {
    background: url("data:image/svg+xml,%3Csvg width='100' height='100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h100v100H0V0zm91.8 76.15c-.72-4.56-3.7-8.4-12.5-11.97-3.07-1.44-6.48-2.44-7.5-4.75-.37-1.38-.43-2.13-.18-2.94.62-2.69 3.8-3.5 6.3-2.75A6.78 6.78 0 0182 57.5c4.3-2.82 4.3-2.82 7.3-4.69a17.2 17.2 0 00-2.43-3.25c-2.63-2.93-6.12-4.43-11.81-4.3l-2.94.37c-2.82.68-5.5 2.18-7.12 4.18-4.75 5.38-3.38 14.76 2.37 18.63 5.68 4.25 14 5.19 15.06 9.2 1 4.87-3.62 6.43-8.19 5.87-3.38-.75-5.25-2.45-7.31-5.57L59.3 82.3c.88 2 1.88 2.87 3.38 4.62 7.25 7.32 25.37 6.94 28.63-4.18.12-.38 1-2.94.3-6.88l.2.28zM54.39 45.96H45c0 8.08-.03 16.1-.03 24.19 0 5.13.26 9.85-.58 11.3-1.38 2.87-4.92 2.5-6.52 2-1.66-.82-2.5-1.95-3.46-3.57-.27-.43-.46-.81-.53-.81l-7.6 4.68a14.74 14.74 0 005.51 6.33c3.56 2.12 8.35 2.8 13.36 1.68 3.27-.94 6.08-2.88 7.55-5.88 2.12-3.87 1.67-8.62 1.65-13.94.05-8.56 0-17.12 0-25.74l.02-.24z' fill='%23F2D81B'/%3E%3C/svg%3E") no-repeat center center / cover;
  }
  .svg--css3 {
    background: url("data:image/svg+xml,%3Csvg width='101' height='100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.22 0h87.5l-7.96 89.85L50.87 100 15.18 89.84 7.22 0zm71.2 18.39l-54.91-.02.89 10.93h42.18l-1.06 11.32H37.85l1 10.73h25.76L63.1 66.03l-12.13 3.34L38.65 66l-.79-8.8H27l1.2 16.07 22.78 7.1 22.38-6.38 5.08-55.6z' fill='%233595CE'/%3E%3C/svg%3E") no-repeat center center / cover;
  }
  .svg--less {
    background: url("data:image/svg+xml,%3Csvg width='100' height='100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23fff' d='M0 0h100v100H0z'/%3E%3Cpath d='M-.2 100h100V0H-.2v100z' fill='%231E416F'/%3E%3Cpath opacity='.1' d='M80.47 46.88H21.48l.2 12.1L51.56 100H99.8V68.95L80.47 46.87z' fill='%23010101'/%3E%3Cpath d='M26.86 60.92c-1.96 0-3.39-.35-4.28-1.03-.89-.69-1.33-1.91-1.33-3.67v-3.1c0-1.57-.63-2.36-1.88-2.36v-2.4c1.25 0 1.88-.85 1.88-2.54v-2.95c0-1.82.44-3.1 1.32-3.83.88-.74 2.31-1.11 4.29-1.11v2.4c-1.43 0-2.14.78-2.14 2.32v2.84c0 2.14-.71 3.48-2.14 4.04v.05c1.43.54 2.14 1.86 2.14 3.97v2.64c0 .84.17 1.44.5 1.8.34.35.88.52 1.64.52v2.4M33.28 52c0 .55.13.98.41 1.27.28.29.65.43 1.12.43.24 0 .47-.02.7-.06l.7-.14v2.96c-.49.13-1.01.24-1.57.32-.55.09-1.13.13-1.73.13-.55 0-1.05-.1-1.5-.28a3.17 3.17 0 01-1.15-.78 3.58 3.58 0 01-.73-1.24 4.82 4.82 0 01-.26-1.64V36.86h4v15.13M46.1 48.62c0-1.78-.76-2.67-2.28-2.67-.65 0-1.2.25-1.68.76a3.4 3.4 0 00-.87 1.91h4.84zm3.75 2.4h-8.56c.14 1.97 1.36 2.95 3.64 2.95 1.46 0 2.74-.38 3.85-1.14v3.06a9.76 9.76 0 01-4.76 1.02c-2.13 0-3.79-.6-4.97-1.78-1.18-1.19-1.76-2.84-1.76-4.96 0-2.2.63-3.95 1.9-5.23A6.28 6.28 0 0143.83 43c1.92 0 3.4.57 4.44 1.7 1.05 1.13 1.57 2.67 1.57 4.62v1.7zM51.45 56.17v-3.6c.68.47 1.37.82 2.04 1.05a5.97 5.97 0 003.67.09c.42-.17.63-.44.63-.79 0-.26-.1-.47-.29-.64-.19-.18-.43-.33-.74-.46-.3-.13-.63-.24-.99-.35-.36-.1-.7-.22-1.03-.35-.54-.2-1.01-.4-1.42-.64a4.1 4.1 0 01-1.02-.8c-.28-.3-.49-.65-.63-1.04-.14-.4-.22-.87-.22-1.41 0-.74.17-1.38.5-1.92A4 4 0 0153.28 44a6.18 6.18 0 011.9-.75c.71-.16 1.46-.24 2.23-.24a12.35 12.35 0 013.67.54v3.27a7.96 7.96 0 00-4.35-.8 3 3 0 00-.66.17 1.2 1.2 0 00-.44.3.61.61 0 00-.17.41c0 .25.08.45.24.63.16.17.37.32.63.44.25.13.54.24.85.34l.94.3c.56.2 1.07.4 1.52.62.45.23.84.5 1.16.8.32.3.57.65.74 1.06.18.4.26.89.26 1.45a3.72 3.72 0 01-1.9 3.36c-.57.35-1.24.6-1.99.77-.75.16-1.53.24-2.33.24-1.49 0-2.86-.25-4.13-.74zM63.22 56.17v-3.6a8.3 8.3 0 002.04 1.05 5.97 5.97 0 003.66.09c.42-.17.64-.44.64-.79 0-.26-.1-.47-.3-.64-.18-.18-.43-.33-.73-.46s-.64-.24-1-.35c-.36-.1-.7-.22-1.03-.35-.54-.2-1-.4-1.41-.64a4.1 4.1 0 01-1.03-.8c-.27-.3-.48-.65-.63-1.04-.14-.4-.21-.87-.21-1.41 0-.74.16-1.38.5-1.92A4 4 0 0165.03 44a6.18 6.18 0 011.9-.75c.72-.16 1.46-.24 2.23-.24a12.35 12.35 0 013.67.54v3.27a7.96 7.96 0 00-4.35-.8 3 3 0 00-.65.17c-.2.07-.34.17-.45.3a.61.61 0 00-.16.41c0 .25.08.45.24.63.16.17.36.32.62.44.26.13.54.24.86.34l.93.3c.56.2 1.07.4 1.52.62.45.23.84.5 1.16.8.33.3.57.65.75 1.06.17.4.26.89.26 1.45a3.73 3.73 0 01-1.9 3.36c-.58.35-1.24.6-2 .77a11.31 11.31 0 01-6.46-.5zM82.46 50.76c-1.25 0-1.87.8-1.87 2.4v2.98c0 1.81-.42 3.06-1.26 3.75-.84.68-2.2 1.03-4.09 1.03v-2.4c.75 0 1.3-.18 1.63-.53.34-.35.51-.94.51-1.78v-2.74c0-2.06.63-3.34 1.87-3.86v-.05c-1.24-.56-1.87-1.95-1.87-4.18v-2.73c0-1.54-.71-2.32-2.14-2.32v-2.4c1.88 0 3.24.37 4.09 1.1.84.74 1.26 2 1.26 3.79v3.03c0 1.67.62 2.5 1.87 2.5v2.41' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h100v100H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center center / cover;
  }
  .svg--sass {
    background: url("data:image/svg+xml,%3Csvg width='100' height='100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 0a50 50 0 110 100A50 50 0 0150 0zm-9.94 66.66c.73 2.69.65 5.2-.1 7.47l-.27.75-.32.73a14.02 14.02 0 01-2.32 3.37c-2.9 3.17-6.96 4.37-8.7 3.36-1.88-1.1-.95-5.56 2.43-9.13 3.63-3.82 8.83-6.28 8.83-6.28v-.02l.45-.25zm41.3-45.26c-2.26-8.88-16.99-11.8-30.93-6.85-8.28 2.95-17.26 7.57-23.72 13.61-7.68 7.17-8.9 13.42-8.4 16.04 1.79 9.2 14.41 15.23 19.6 19.7v.03c-1.53.75-12.73 6.37-15.36 12.19-2.8 6.12.44 10.5 2.57 11.06 6.56 1.82 13.3-1.5 16.93-6.87 3.5-5.26 3.2-12 1.69-15.32 2.06-.56 4.5-.81 7.62-.43 8.76 1 10.5 6.5 10.13 8.75a6 6 0 01-2.81 3.93c-.63.38-.81.5-.76.76.07.37.38.37.88.3.69-.12 4.57-1.87 4.75-6.12.2-5.38-4.94-11.37-14.06-11.25-3.75.07-6.13.38-7.81 1.07a1.51 1.51 0 00-.44-.44c-5.62-6.06-16.06-10.31-15.62-18.38.12-2.93 1.18-10.68 20-20.05 15.43-7.7 27.75-5.57 29.88-.88 3.05 6.68-6.57 19.13-22.63 20.93-6.13.7-9.32-1.68-10.13-2.56-.87-.94-1-1-1.31-.8-.5.24-.19 1.05 0 1.55.5 1.26 2.44 3.44 5.82 4.57 2.93.94 10.12 1.5 18.75-1.88 9.68-3.74 17.24-14.19 15.05-22.94l.3.28z' fill='%23C69'/%3E%3C/svg%3E") no-repeat center center / cover;
  }
  .svg--git {
    background: url("data:image/svg+xml,%3Csvg width='100' height='100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23fff' d='M0 0h100v100H0z'/%3E%3Cpath d='M98.1 45.54L54.46 1.88a6.46 6.46 0 00-9.12 0l-9.05 9.07 11.5 11.5a7.66 7.66 0 019.7 9.75l11.07 11.08a7.65 7.65 0 017.92 12.67 7.65 7.65 0 01-12.52-8.32L53.58 37.31v27.2c.74.35 1.43.84 2.04 1.44a7.68 7.68 0 11-10.87 0 7.85 7.85 0 012.52-1.68V36.8a7.64 7.64 0 01-4.15-10.04l-11.3-11.35L1.87 45.34a6.48 6.48 0 000 9.12L45.55 98.1a6.44 6.44 0 009.11 0l43.46-43.45a6.44 6.44 0 000-9.12' fill='%23F03C2E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h100v100H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center center / cover;
  }
  .svg--jquery {
    background: url("data:image/svg+xml,%3Csvg width='101' height='100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)' fill='%230865A6'%3E%3Cpath d='M7.36 24.47C-1.5 37.18-.4 53.71 6.37 67.21c.15.33.32.64.5.95.09.22.2.42.31.62l.2.35c.1.22.22.42.34.63l.65 1.1.37.61c.23.4.5.78.74 1.18l.33.48c.4.64.84 1.26 1.3 1.85.32.45.64.88 1 1.32l.35.47.92 1.12.34.41c.41.5.85.97 1.28 1.46l.02.03c.53.66 1.12 1.28 1.77 1.83.33.34.66.68 1.02 1.02l.42.4c.46.43.92.87 1.41 1.28l.02.02.24.2c.42.38.85.75 1.3 1.09l.51.44 1.08.83.57.43c.39.3.8.58 1.2.87l.44.3.12.1 1.17.77.5.33a91.17 91.17 0 002.34 1.41c.45.26.91.52 1.37.76.25.15.5.27.77.4a40.95 40.95 0 001.2.61l.4.2c.5.25 1.02.49 1.56.72l.32.15c.6.26 1.2.5 1.82.75l.44.17 1.71.63.2.08 1.92.62.46.14c.67.2 1.3.44 1.97.57 42.75 7.79 55.18-25.7 55.18-25.7C88 84.8 69.49 88.37 51.95 84.38c-.65-.15-1.3-.36-1.96-.55-.79-.23-1.58-.48-2.36-.75l-.26-.1c-.56-.2-1.1-.4-1.66-.62l-.46-.17-1.8-.76c-.13-.04-.24-.1-.37-.15a97.15 97.15 0 01-1.94-.93c-.4-.18-.79-.39-1.17-.59l-.78-.4-1.41-.78c-.14-.1-.3-.18-.47-.27A66.23 66.23 0 0133.7 76l-.42-.3-1.23-.89-.55-.42c-.37-.28-.74-.56-1.1-.86l-.5-.4a44.14 44.14 0 01-1.54-1.29l-1.45-1.32-.41-.39-1.05-1.02-.4-.42c-.44-.43-.87-.88-1.29-1.34l-.06-.07c-.44-.48-.87-.97-1.3-1.47l-.34-.4-.94-1.16a88.7 88.7 0 01-1.42-1.87C9.97 49.11 6.44 30.77 14.23 15.74'/%3E%3Cpath d='M34.8 13.77c-6.4 9.2-6.05 21.51-1.05 31.25a37.92 37.92 0 002.82 4.71c.96 1.38 2.01 3 3.3 4.11.44.51.93 1 1.43 1.5l.38.37c.47.46.96.91 1.45 1.36l.07.05c.56.5 1.13.97 1.72 1.43l.4.3c.58.45 1.17.88 1.78 1.31l.06.04c.26.19.54.36.83.54l.37.25 1.32.82.2.1c.38.23.79.45 1.18.65l.41.23c.28.13.56.28.82.42l.14.06c.56.28 1.13.53 1.7.8l.38.15c.46.2.93.4 1.4.57.2.07.4.16.6.22.42.16.87.3 1.29.45l.58.19c.6.18 1.22.43 1.87.53 33 5.47 40.64-19.94 40.64-19.94-6.88 9.9-20.2 14.61-34.38 10.93-.63-.16-1.25-.34-1.87-.54-.2-.05-.37-.12-.56-.18l-1.3-.45-.6-.23c-.47-.18-.95-.36-1.4-.56-.14-.06-.27-.1-.38-.16-.58-.27-1.17-.52-1.74-.8l-.86-.45-.5-.25a23.63 23.63 0 01-1.35-.77c-.45-.27-.9-.54-1.32-.82-.15-.08-.28-.18-.4-.26l-.88-.57c-.6-.41-1.18-.86-1.77-1.3l-.4-.33c-6.23-4.9-11.15-11.6-13.49-19.2-2.46-7.89-1.91-16.74 2.33-23.92'/%3E%3Cpath d='M57.88 5.77c-3.78 5.55-4.14 12.44-1.54 18.56a26.2 26.2 0 0015.02 14.02l.81.3.37.1c.38.13.77.27 1.16.35 18.24 3.52 23.17-9.36 24.5-11.25-4.34 6.23-11.62 7.73-20.55 5.56a26.43 26.43 0 01-4.72-1.72 27.17 27.17 0 01-4.5-2.76c-8-6.05-12.96-17.62-7.74-27.04'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' transform='translate(.97)' d='M0 0h100v100H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center center / cover;
  }
  .svg--adobe-creative-cloud {
    background: url("data:image/svg+xml,%3Csvg width='100' height='100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M100 48.33v3.34l-.1.55c-.16 1.45-.27 2.92-.5 4.36a36.1 36.1 0 01-4.9 13.1 36.87 36.87 0 01-15.2 14A35.09 35.09 0 0167.6 87.2l-2.72.3H29.74c-.18-.03-.35-.08-.53-.1A29.55 29.55 0 0119 84.9 31.35 31.35 0 013.2 69.65 30.4 30.4 0 01.3 59.77L0 57.26V54c.03-.18.08-.36.1-.54.17-3.1.82-6.16 1.92-9.07a31.48 31.48 0 0127.77-20.62c2.1-.1 4.2 0 6.26.3a.78.78 0 00.6-.2 37.08 37.08 0 0110.24-7.54 35.39 35.39 0 0111.77-3.53l2.92-.31h3l.58.09c1.49.18 2.98.29 4.45.54 4.55.78 8.9 2.46 12.8 4.94a37.04 37.04 0 0113.83 15.47 36.5 36.5 0 013.46 11.93l.3 2.86zM44.08 26.66l.1.14a40.14 40.14 0 015.88 3.6c.12.1.41.06.55-.03a22.26 22.26 0 0116.54-3.35c5.82 1.05 10.55 4 14.16 8.72a22.47 22.47 0 014.52 18.09 23.4 23.4 0 01-5.54 11.92c-5.5 6.16-12.39 8.71-20.49 7.63a21.52 21.52 0 01-12.86-6.51c-4.57-4.7-9.18-9.37-13.77-14.06A3.71 3.71 0 0031 51.58a3.44 3.44 0 00-3.6 2c-.6 1.25-.52 2.66.77 3.95 5.11 5.1 10.18 10.25 15.3 15.37a25.1 25.1 0 002.8 2.42 26.6 26.6 0 0012.5 4.9 29.7 29.7 0 0027.31-10.83 30.05 30.05 0 006.57-15.3c.44-3.27.35-6.59-.27-9.83a29.44 29.44 0 00-6.75-14.07c-6.74-7.69-15.22-11.12-25.3-10.36-3.87.32-7.61 1.44-11.01 3.3a29.01 29.01 0 00-5.23 3.53zm-2.46 53.72l-.42-.4c-2.09-2-4.2-4-6.26-6.03a1.68 1.68 0 00-1.33-.58c-2.1.05-4.19.06-6.25-.41-10.26-2.36-16.21-13.7-12.43-23.67 2.98-7.87 11.23-12.66 19.37-11.18 3.65.66 6.85 2.23 9.48 4.99 3.2 3.36 6.5 6.63 9.74 9.96.74.76 1.59 1.1 2.6.96 1.33-.2 2.38-.84 2.86-2.15.46-1.3.24-2.52-.73-3.52-3.4-3.5-6.72-7.1-10.25-10.45-6.87-6.5-14.95-8.44-23.9-5.67C12.06 35.95 5.02 48.59 7.77 61.06c2.5 11.36 12.28 19.33 23.7 19.34h9.59l.56-.03' fill='%23D41818'/%3E%3C/svg%3E") no-repeat center center / cover;
  }
  .svg--avocode {
    background: url("data:image/svg+xml,%3Csvg width='100' height='113' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 0C24.44 0 0 39.82 0 70.28c0 23.32 22.34 42.16 50 42.16s50-18.84 50-42.16C100 39.82 75.56 0 50 0zm0 91.36c-13.78 0-25-9.46-25-21.08 0-15.65 12.66-35.15 25-35.15s25 19.5 25 35.15c0 11.62-11.22 21.08-25 21.08z' fill='%2300BC87'/%3E%3C/svg%3E") no-repeat center center / cover;
  }
  .svg--figma {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.17 0H5.83A5.83 5.83 0 000 5.83v28.34A5.83 5.83 0 005.83 40h28.34A5.83 5.83 0 0040 34.17V5.83A5.83 5.83 0 0034.17 0z' fill='%23525967'/%3E%3Cpath d='M34.17 1.75a4.08 4.08 0 014.08 4.08v28.34a4.08 4.08 0 01-4.08 4.08H5.83a4.08 4.08 0 01-4.08-4.08V5.83a4.08 4.08 0 014.08-4.08h28.34zm0-1.75H5.83A5.83 5.83 0 000 5.83v28.34A5.83 5.83 0 005.83 40h28.34A5.83 5.83 0 0040 34.17V5.83A5.83 5.83 0 0034.17 0z' fill='%23454B57'/%3E%3Cpath d='M15.01 34.96a4.98 4.98 0 003.53-1.46A4.98 4.98 0 0020 29.97v-4.99h-4.99a4.99 4.99 0 100 9.98z' fill='%230ACF83'/%3E%3Cpath d='M10.03 20a4.99 4.99 0 011.46-3.53A4.99 4.99 0 0115 15.01H20V25h-4.99A4.99 4.99 0 0110.03 20z' fill='%23A259FF'/%3E%3Cpath d='M10.03 10.03A4.99 4.99 0 0115 5.04H20v9.97h-4.99a4.99 4.99 0 01-4.98-4.98z' fill='%23F24E1E'/%3E%3Cpath d='M20 5.07h4.99a4.99 4.99 0 013.52 8.51A4.99 4.99 0 0125 15.04H20V5.07z' fill='%23FF7262'/%3E%3Cpath d='M29.97 20a4.99 4.99 0 01-5.96 4.89 4.99 4.99 0 01-1.8-9.04 4.99 4.99 0 016.3.62A4.99 4.99 0 0129.97 20z' fill='%231ABCFE'/%3E%3C/svg%3E") no-repeat center center / cover;
  }
  .svg--figma-white {
    background: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)' fill='%23fff'%3E%3Cpath d='M15 15a5 5 0 1110 0 5 5 0 01-10 0zM5 25a5 5 0 015-5h5v5a5 5 0 11-10 0z'/%3E%3Cpath d='M15 0v10h5a5 5 0 100-10h-5zM5 5a5 5 0 005 5h5V0h-5a5 5 0 00-5 5zm0 10a5 5 0 005 5h5V10h-5a5 5 0 00-5 5z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h30v30H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center center / cover;
  }
  .svg--arrow-right {
    background: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.75 16.25h19.48l-6.7 6.7a1.25 1.25 0 101.77 1.77l8.83-8.84c.06-.05.11-.12.16-.19l.05-.1c.02-.03.05-.07.06-.11l.04-.13.04-.1.02-.25c0-.08 0-.16-.02-.24l-.04-.11c0-.05-.02-.09-.04-.13l-.06-.12-.05-.1c-.05-.06-.1-.13-.16-.18L18.3 5.28a1.25 1.25 0 00-1.77 1.77l6.7 6.7H3.75a1.25 1.25 0 000 2.5z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center / cover;
  }
  .svg--source-code {
    background: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.63 20.63v3.75L30 15l-9.38-9.38v3.75L26.25 15l-5.63 5.63zM9.38 20.63v3.75L0 15l9.38-9.38v3.75L3.75 15l5.63 5.63z' fill='%23fff'/%3E%3Cpath d='M9.38 18.75h3.74l7.5-7.5h-3.75l-7.5 7.5z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center / cover;
  }
  .svg--love-heart {
    background: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.72 7.97V5.63h-2.34V3.27h-7.04v2.35h-4.68V3.27H5.62v2.35H3.29v2.34H.94V15h2.34v2.34h2.35v2.35h2.34v2.34h2.34v2.34h2.35v2.35H15l14.06-14.06v-4.7h-2.34z' fill='%23FF5050'/%3E%3Cpath d='M7.97 7.97H5.63v2.34h2.34V7.97z' fill='%23fff'/%3E%3Cpath d='M17.34 24.38H15v2.34h2.34v-2.34zM19.69 22.03h-2.35v2.34h2.35v-2.34zM22.03 19.69H19.7v2.34h2.34V19.7zM24.38 17.34h-2.35v2.35h2.34v-2.35zM26.72 15h-2.34v2.34h2.34V15zM29.06 12.66h-2.34V15h2.34v-2.34z' fill='%239B0270'/%3E%3C/svg%3E") no-repeat center center / cover;
  }
  .svg--php {
    background: url("data:image/svg+xml,%3Csvg width='100' height='100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.2 42.53h-3.93l-2.14 11.03h3.5c2.3 0 4.03-.44 5.17-1.3 1.13-.88 1.9-2.34 2.29-4.38.38-1.96.2-3.34-.52-4.14-.73-.8-2.18-1.21-4.36-1.21zM50 23.7C22.39 23.7 0 35.48 0 50c0 14.53 22.39 26.3 50 26.3s50-11.77 50-26.3c0-14.52-22.39-26.3-50-26.3zM36.42 54.75a10.11 10.11 0 01-3.82 2.3c-1.4.44-3.2.68-5.36.68h-4.92l-1.36 7h-5.74l5.12-26.36h11.04c3.32 0 5.75.87 7.27 2.62 1.52 1.74 1.98 4.17 1.38 7.3a11.82 11.82 0 01-1.28 3.53 11.9 11.9 0 01-2.33 2.93zm16.76 2.98l2.27-11.67c.26-1.32.16-2.23-.29-2.71-.44-.48-1.4-.73-2.86-.73h-4.55l-2.93 15.1h-5.7l5.12-26.35h5.7l-1.36 7h5.07c3.2 0 5.4.56 6.6 1.68 1.22 1.1 1.58 2.91 1.1 5.4l-2.38 12.27h-5.79zm31.66-9.44a11.6 11.6 0 01-7.43 8.75c-1.4.45-3.19.69-5.36.69h-4.92l-1.36 7h-5.74l5.12-26.36H76.2c3.32 0 5.74.88 7.27 2.62 1.52 1.74 1.99 4.17 1.38 7.3zm-10.81-5.76H70.1l-2.15 11.03h3.49c2.32 0 4.04-.44 5.17-1.3 1.14-.88 1.9-2.34 2.3-4.38.38-1.96.2-3.34-.52-4.14-.73-.8-2.19-1.21-4.36-1.21z' fill='%23777BB4'/%3E%3C/svg%3E") no-repeat center center / cover;
  }
  .svg__text {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
  }
  .svg__text--html-color {
    color: #DE4B25;
  }
  .svg__text--javascript-color {
    color: #F2D81B;
  }
  .svg__text--css3-color {
    color: #3595CE;
  }
  .svg__text--less-color {
    color: #1E416F;
  }
  .svg__text--sass-color {
    color: #CC6699;
  }
  .svg__text--git-color {
    color: #F03C2E;
  }
  .svg__text--jquery-color {
    color: #0865A6;
  }
  .svg__text--adobe-creative-cloud-color {
    color: #D41818;
  }
  .svg__text--avocode-color {
    color: #00BC87;
  }
  .svg__text--figma-color {
    color: #F24E1E;
  }
  .psd-works {
    margin-top: -50px;
  }
  .psd-works__container {
    padding-top: 50px;
  }
  .project-block {
    display: none;
  }
  .image-block {
    width: 100%;
    height: 52vw;
  }
  .image-block__img {
    width: 100%;
    height: 100%;
  }
  .about-project {
    position: relative;
    z-index: 2;
  }
  .about-project__container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 10px 30px;
  }
  .about-project__heading {
    color: #91CFC9;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  .about-project__heading-line {
    display: block;
    width: 70px;
    height: 2px;
    background-color: #1E5670;
    margin: 6px auto 0;
  }
  .about-project__subheading {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
  }
  .about-project__svgs-block {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .about-project__svg {
    margin: 15px 15px;
  }
  .about-project__svg--html5 {
    width: 50px;
    height: 50px;
  }
  .about-project__svg--css3 {
    width: 50px;
    height: 50px;
  }
  .about-project__svg--javascript {
    width: 50px;
    height: 50px;
  }
  .about-project__svg--jquery {
    width: 50px;
    height: 50px;
  }
  .about-project__svg--adobe-creative-cloud {
    width: 50px;
    height: 50px;
  }
  .about-project__svg--less {
    width: 50px;
    height: 50px;
  }
  .about-project__svg--sass {
    width: 50px;
    height: 50px;
  }
  .about-project__svg--figma {
    width: 50px;
    height: 50px;
  }
  .about-project__svg--php {
    width: 50px;
    height: 50px;
  }
  .about-project__svg--git {
    width: 50px;
    height: 50px;
  }
  .about-project__img-container {
    width: 50px;
    height: 50px;
    margin: 15px 15px;
    display: flex;
    justify-content: center;
  }
  .about-project__img {
    width: 40px;
    height: 50px;
  }
  .about-project__img--slick {
    width: 50px;
  }
  .about-project__text-block {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 20px auto 0;
    min-height: 70px;
    border-top: 5px solid #91CFC9;
    border-bottom: 5px solid #91CFC9;
  }
  .about-project__paragraph {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
  .about-project__link {
    margin: 20px auto 0;
  }
  .own-works {
    margin-top: -50px;
  }
  .own-works__container {
    padding-top: 50px;
  }
  .study-works {
    margin-top: -50px;
  }
  .study-works__container {
    padding-top: 50px;
  }
  .commercial-works {
    margin-top: -50px;
  }
  .commercial-works__container {
    padding-top: 50px;
  }
  .commercial-works__empty-block {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .commercial-works__text {
    color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  .commercial-works__link {
    position: absolute;
    bottom: 30px;
  }
  .certificates {
    margin-top: -50px;
  }
  .certificates__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  .certificates__link {
    display: block;
    width: 220px;
    height: 150px;
  }
  .certificates__img {
    width: 100%;
    height: 100%;
  }
  .footer {
    margin-top: 20px;
  }
  .footer__row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  .footer__row--lightblue {
    background-color: #4198B9;
  }
  .footer__row--darkblue {
    background-color: #1E5670;
  }
  .footer__svg {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  .footer__link {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }
  .slider .owl-nav button.owl-prev {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: flex;
    width: 40px;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5.63l2.5 2.5L8.75 10 15 16.88l-2.5 2.5L3.75 10 12.5.62z' fill='%23000'/%3E%3C/svg%3E") no-repeat center center / contain, #fff;
  }
  .slider .owl-nav button.owl-prev:hover {
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5.63l2.5 2.5L8.75 10 15 16.88l-2.5 2.5L3.75 10 12.5.62z' fill='%2391CFC9'/%3E%3C/svg%3E") no-repeat center center / contain, #fff;
  }
  .slider .owl-nav button.owl-next {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    display: flex;
    width: 40px;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5.63L16.25 10 7.5 19.38 5 16.88 11.25 10 5 3.12 7.5.63z' fill='%23000'/%3E%3C/svg%3E") no-repeat center center / contain, #fff;
  }
  .slider .owl-nav button.owl-next:hover {
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5.63L16.25 10 7.5 19.38 5 16.88 11.25 10 5 3.12 7.5.63z' fill='%2391CFC9'/%3E%3C/svg%3E") no-repeat center center / contain, #fff;
  }
}
@media screen and (min-width: 768px) {
  .button {
    width: 200px;
    font-size: 14px;
  }
  .my-photo {
    width: 150px;
    height: 150px;
  }
  .top-block-fixed__container {
    height: 60px;
    padding: 0 20px;
  }
  .header__container {
    padding-top: 60px;
  }
  .header__full-height-block {
    min-height: 100vh;
  }
  .about-me-text {
    font-size: 20px;
    margin-bottom: 34px;
  }
  .about-me-text--wide-width {
    width: 540px;
  }
  .about-me-text--regular-width {
    width: 350px;
  }
  .svg-block {
    width: 120px;
    height: 120px;
  }
  .svg-block--avocode {
    height: 136px;
  }
  .my-stack {
    margin-top: -60px;
  }
  .my-stack__container {
    padding-top: 60px;
  }
  .psd-works {
    margin-top: -60px;
  }
  .psd-works__container {
    padding-top: 60px;
  }
  .project-block {
    display: block;
    width: 100%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .project-block:hover .project-block__img--box-shadow-left-to-right {
    -webkit-box-shadow: 10px 10px 0px -5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 10px 10px 0px -5px rgba(0, 0, 0, 0.7);
    box-shadow: 10px 10px 0px -5px rgba(0, 0, 0, 0.7);
  }
  .project-block:hover .project-block__img--box-shadow-right-to-left {
    -webkit-box-shadow: -10px 10px 0px -5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -10px 10px 0px -5px rgba(0, 0, 0, 0.7);
    box-shadow: -10px 10px 0px -5px rgba(0, 0, 0, 0.7);
  }
  .project-block__container {
    display: flex;
    min-height: 440px;
  }
  .project-block__container--bg-primary-color-left-to-right {
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, #91cfc9 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 50%, #91cfc9 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #91cfc9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#91cfc9', GradientType=1);
    /* IE6-9 */
  }
  .project-block__container--bg-primary-color-right-to-left {
    background: #91cfc9;
    /* Old browsers */
    background: -moz-linear-gradient(left, #91cfc9 0%, #ffffff 50%, #ffffff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #91cfc9 0%, #ffffff 50%, #ffffff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #91cfc9 0%, #ffffff 50%, #ffffff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91cfc9', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 */
  }
  .project-block__heading {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #91CFC9;
  }
  .project-block__item {
    width: 50%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
  }
  .project-block__img {
    width: 100%;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
  }
  .project-block__img-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .number-block {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .number-block__number-text {
    font-size: 250px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.05);
  }
  .mobile-project-block {
    display: none;
  }
  .own-works {
    margin-top: -60px;
  }
  .own-works__container {
    padding-top: 60px;
  }
  .study-works {
    margin-top: -60px;
  }
  .study-works__container {
    padding-top: 60px;
  }
  .commercial-works {
    margin-top: -60px;
  }
  .commercial-works__container {
    padding-top: 60px;
  }
  .commercial-works__text {
    font-size: 36px;
  }
  .certificates {
    margin-top: -60px;
  }
  .certificates__container {
    padding-top: 60px;
  }
  .slider .owl-nav button.owl-prev {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: flex;
    width: 60px;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5.63l2.5 2.5L8.75 10 15 16.88l-2.5 2.5L3.75 10 12.5.62z' fill='%23000'/%3E%3C/svg%3E") no-repeat center center / contain, #fff;
  }
  .slider .owl-nav button.owl-prev:hover {
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5.63l2.5 2.5L8.75 10 15 16.88l-2.5 2.5L3.75 10 12.5.62z' fill='%2391CFC9'/%3E%3C/svg%3E") no-repeat center center / contain, #fff;
  }
  .slider .owl-nav button.owl-next {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    display: flex;
    width: 60px;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5.63L16.25 10 7.5 19.38 5 16.88 11.25 10 5 3.12 7.5.63z' fill='%23000'/%3E%3C/svg%3E") no-repeat center center / contain, #fff;
  }
  .slider .owl-nav button.owl-next:hover {
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5.63L16.25 10 7.5 19.38 5 16.88 11.25 10 5 3.12 7.5.63z' fill='%2391CFC9'/%3E%3C/svg%3E") no-repeat center center / contain, #fff;
  }
}
@media screen and (min-width: 1024px) {
  .side-menu-trigger {
    display: none;
  }
  .main-navigation {
    display: flex;
  }
  .main-navigation__link {
    margin-left: 10px;
    font-size: 14px;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }
  .main-navigation__link:hover {
    color: #91CFC9;
  }
  .section-heading {
    font-size: 28px;
    margin-top: 30px;
  }
  .section-heading-underline {
    width: 150px;
    margin: 3px auto 30px;
  }
  .svg-block {
    width: 150px;
    height: 150px;
  }
  .svg-block--avocode {
    height: 170px;
  }
  .certificates__link {
    width: 300px;
    height: 200px;
  }
  .footer__row {
    height: 60px;
  }
  .footer__svg {
    width: 40px;
    height: 40px;
  }
  .footer__link {
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .top-block-fixed__container {
    height: 90px;
  }
  .button {
    width: 250px;
    height: 50px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-size: 14px;
  }
  .logo {
    font-size: 36px;
  }
  .header__container {
    padding-top: 90px;
  }
  .main-navigation__link {
    margin-left: 20px;
    font-size: 20px;
  }
  .my-photo {
    width: 200px;
    height: 200px;
  }
  .about-me-text {
    font-size: 24px;
  }
  .about-me-text--wide-width {
    width: 740px;
  }
  .about-me-text--regular-width {
    width: 515px;
  }
  .project-block__container {
    min-height: 500px;
  }
  .project-block__heading {
    font-size: 30px;
  }
  .about-project__subheading {
    font-size: 20px;
  }
  .about-project__heading-line {
    width: 100px;
    height: 3px;
  }
  .about-project__svgs-block {
    margin-top: 30px;
  }
  .about-project__svg--html5 {
    width: 70px;
    height: 70px;
  }
  .about-project__svg--css3 {
    width: 70px;
    height: 70px;
  }
  .about-project__svg--jquery {
    width: 70px;
    height: 70px;
  }
  .about-project__svg--adobe-creative-cloud {
    width: 70px;
    height: 70px;
  }
  .about-project__svg--less {
    width: 70px;
    height: 70px;
  }
  .about-project__svg--sass {
    width: 70px;
    height: 70px;
  }
  .about-project__svg--figma {
    width: 70px;
    height: 70px;
  }
  .about-project__svg--javascript {
    width: 70px;
    height: 70px;
  }
  .about-project__svg--git {
    width: 70px;
    height: 70px;
  }
  .about-project__svg--php {
    width: 70px;
    height: 70px;
  }
  .about-project__text-block {
    max-width: 550px;
    margin-top: 30px;
  }
  .about-project__paragraph {
    font-size: 16px;
  }
  .about-project__link {
    margin-top: 30px;
  }
  .about-project__img-container {
    width: 70px;
    height: 70px;
  }
  .about-project__img {
    width: 60px;
    height: 70px;
  }
  .about-project__img--slick {
    width: 79px;
  }
  .my-stack {
    margin-top: -90px;
  }
  .my-stack__container {
    padding-top: 90px;
  }
  .psd-works {
    margin-top: -90px;
  }
  .psd-works__container {
    padding-top: 90px;
  }
  .own-works {
    margin-top: -90px;
  }
  .own-works__container {
    padding-top: 90px;
  }
  .study-works {
    margin-top: -90px;
  }
  .study-works__container {
    padding-top: 90px;
  }
  .commercial-works {
    margin-top: -90px;
  }
  .commercial-works__container {
    padding-top: 90px;
  }
  .certificates {
    margin-top: -90px;
  }
  .certificates__container {
    padding-top: 90px;
  }
}
@media screen and (min-width: 1900px) {
  .full-height-block {
    height: 937px;
  }
  .top-block-fixed__container {
    max-width: 1920px;
    margin: 0 auto;
  }
  .my-photo {
    width: 350px;
    height: 350px;
  }
  .button {
    width: 330px;
    height: 70px;
    font-size: 20px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
  }
  .main-navigation__link {
    font-size: 24px;
    margin-left: 30px;
  }
  .my-stack__container .owl-carousel {
    max-width: 1920px;
  }
  .logo {
    font-size: 48px;
  }
  .project-block {
    max-width: 1920px;
    margin: 0 auto;
  }
  .project-block__item {
    position: relative;
  }
  .number-block__number-text {
    font-size: 300px;
  }
  .slider__item {
    height: 380px;
  }
  .certificates__container .owl-carousel {
    max-width: 1920px;
  }
  .certificates__link {
    width: 542px;
    height: 380px;
  }
}
/*# sourceMappingURL=style.css.map */